.content {
  .description {
    margin: 1rem 0;
  }
  .btn {
    display: block;
    margin: 1rem 0;
    max-width: 200px;
    width: 28vw;
    height: 3rem;
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
  }
}
