.menu {
  h2 {
    font-size: 2rem;
  }
  &__item {
    max-width: 8rem;
    max-height: 2rem;
    height: 5vh;
    width: 10vw;
    margin: 0 0.5rem;
  }
  &__btn {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
  }
}
