.navigation {
  display: flex;
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    div {
      width: 2rem;
      height: 0.25rem;
      border-radius: 1rem;
      background-color: #ffffff;
      margin: 0.25rem 0.5rem 0;
      transition: transform 0.5s ease;
      z-index: 5;
      position: relative;
    }
    &.open {
      transform: translate(0, -2px);
      div {
        &:nth-of-type(1) {
          transform: translateY(8px) rotate(45deg);
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 0.5rem;
    opacity: 0;
    animation: fade-out 0.3s ease-in-out;
    &__item {
      margin: 0 0.5rem;

      text-transform: uppercase;
      cursor: pointer;
    }
    &__item:hover {
      text-decoration: underline;
    }

    &.open {
      opacity: 1;
      animation: fade-in 0.5s ease-in-out;
    }
  }
}

@media screen and (max-width: 500px) {
  .navigation {
    .burger {
      position: relative;
      z-index: 5;
      div {
      }
      &.open {
        div {
          &:nth-of-type(1) {
          }
          &:nth-of-type(2) {
          }
          &:nth-of-type(3) {
          }
        }
      }
    }
    .nav {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0rem;
      justify-content: right;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #000;
      border: 1px solid #000;
      transform: translateY(-17.5rem);
      transition: transform 0.5s ease-in-out;
      &__item {
        font-size: 1.5rem;
        margin: 0.5rem 0 1rem 0;
        transform: translate(2rem);
        position: relative;
      }
      &__item::after {
        content: '';
        position: absolute;
        width: 100vw;
        height: 2px;
        bottom: 0;
        left: 0;
        margin: 1rem 0 -1rem -2rem;
        background-color: #fff;
      }

      &__item:hover {
      }

      &.open {
        width: 100vw;
        height: 280px;
        position: absolute;
        right: 0;
        z-index: 2;
        transform: translateY(0rem);
        transition: transform 0.5s ease-in-out;
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
