.header {
  background-color: #000000;
  color: #ffffff;
  min-height: 68px;
  height: 7.5%;
  font-family: 'AlegreyaSans', serif;
  .content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-size: 2rem;
    }
  }
}
@media screen and (max-width: 500px) {
  .header {
    .content {
      .logo {
        font-size: 1.3rem;
      }
    }
  }
}
