.controlPanel {
  display: flex;
  justify-content: left;
  align-items: center;
  span {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
  }
  input {
    height: 26px;
    margin: 0 1rem;
    text-align: center;
  }
  button {
    height: 32px;
    text-transform: uppercase;
    background-color: #000000;
    color: #ffffff;
    border: 0;
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  .controlPanel {
    span {
      font-size: 1rem;
    }
    input {
    }
    button {
    }
  }
}
